* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

html{
  scroll-snap-type: y mandatory;
}

body{
  background: linear-gradient(90deg, rgba(14,15,37,1) 10%, rgba(3,8,22,1) 90%);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #804dee;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #804dee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #613bb4;
}

::selection {
  -webkit-text-fill-color: #fff;
  color: #fff;
  background: #804dee;
}